{
    layer4 {
				:8083 {
            proxy {
                to emqx:8083
            }
        }
				:8084 {
            proxy {
                to emqx:8084
            }
        }
    }
}

api.{$HOST} {
	reverse_proxy http://hasura:8080
}

emqx.{$HOST} {
	reverse_proxy http://emqx:18083
}