{
    layer4 {
        :1883 {
            proxy {
                to emqx:1883
            }
        }
    }
}

# api.{$HOST} {
# 	reverse_proxy http://hasura:8080
# }

# emqx.{$HOST} {
# 	reverse_proxy http://emqx:18083
# }