{
    layer4 {
				:8883 {
            proxy {
                to emqx:8883
            }
        }
				:8084 {
            proxy {
                to emqx:8084
            }
        }
    }
}

api.{$HOST} {
	reverse_proxy http://hasura:8080
}

mqtt.{$HOST} {

}

emqx.{$HOST} {
	reverse_proxy http://emqx:18083
}